html {
    background-color: rgb(33, 33, 33);
}
*{
background-color: rgb(33, 33, 33);
font-family: "Courier New", Monaco, Sans-Serif;
}

h1{
    text-align: center;
    font-size: 64px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 10px auto;
    margin: 40px 370px;
    
}
img{
    height: 550px;
    width: 700px;
}
.mainimage{
text-align: center;
}

ul{
    list-style-type: none;
}

.recipelist{
font-size: 24px;
text-align: center;
}

.mac
{
    border: solid white;
    padding: 10px;
    margin: 40px 320px 5px 320px;
}
.pizza
{
    border: solid white;
    padding: 10px;
    margin: 5px 320px;

}
.eggs {
    border: solid white;
    padding: 10px;
    margin: 5px 320px;
}