*{
background-color: rgba(66, 66, 69, 0.621);
font-family: "Courier New", Monaco, Sans-Serif;
}

h1{
    text-align: center;
    font-size: 64px;
    color: red;
}
img{
    height: 550px;
    width: 700px;
}
.mainimage{
text-align: center;
}

ul{
    list-style-type: none;
}

.recipelist{
font-size: 24px;
text-align: center;
}